<%- include('partials/header') %>
<h2>All Orders</h2>
<table>
  <tr><th>Order ID</th><th>Customer</th><th>Restaurant</th><th>Status</th></tr>
  <% orders.forEach(o => { %>
    <tr>
      <td><%= o.order_id %></td>
      <!-- <td><%= o.customer_name %></td>
      <td><%= o.restaurant_name %></td> -->
      <td><%= o.status %></td>
    </tr>
  <% }) %>
</table>
<%- include('partials/footer') %>